{% extends 'base.html' %}
{% block content %}
  <h2 class="title is-4">User Management</h2>
  {% for user in users %}
    <div class="user-form">
      <h4>{{ user.username }} ({{ user.email }})</h4>
        <form action="{{ url_for('tickets.delete_user', user_id=user.id) }}"
              method="post"
              style="display:inline;">
          {{ forms[user.id].hidden_tag() }}
          <button type="submit" class="button is-danger is-small"
                  onclick="return confirm('Really delete {{ user.username }}?');">
            Delete
          </button>
        </form>
    </div>
    <hr>
  {% endfor %}
{% endblock %}
